flows (33).json
[{"id":"b998d35d.65591","type":"tab","label":"Setup","disabled":false,"info":""},{"id":"5841ba8b.955724","type":"tab","label":"Input Data","disabled":false,"info":""},{"id":"3ffed911.3c6796","type":"tab","label":"List Data ","disabled":false,"info":""},{"id":"10e13703.c53099","type":"tab","label":"Send_Data","disabled":false,"info":""},{"id":"7a35d872.17d8d8","type":"tab","label":"Test","disabled":false,"info":""},{"id":"162367db.a58808","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":35,"sy":36,"gx":12,"gy":1,"cx":4,"cy":2,"px":5,"py":1}}},{"id":"4a607b6a.a14e74","type":"sqlitedb","db":"/home/pi/Documents/retic.db","mode":"RWC"},{"id":"ea766da8.8acb2","type":"ui_group","name":"Days of Week","tab":"64536b6e.3f3cb4","order":1,"disp":true,"width":5,"collapse":false},{"id":"94985fef.ef1f9","type":"ui_group","name":"Retic Stations","tab":"64536b6e.3f3cb4","order":2,"disp":true,"width":7,"collapse":false},{"id":"82d5e957.e83568","type":"ui_group","name":"Data","tab":"64536b6e.3f3cb4","order":3,"disp":true,"width":12,"collapse":false},{"id":"f8092567.ae5e58","type":"ui_group","name":"Input Data","tab":"af2d15ff.81c4c8","order":1,"disp":false,"width":7,"collapse":false},{"id":"72798175.ff854","type":"ui_group","name":"Listings","tab":"af2d15ff.81c4c8","order":3,"disp":false,"width":16,"collapse":false},{"id":"154d1ba5.8000d4","type":"ui_group","name":"Actions","tab":"af2d15ff.81c4c8","order":2,"disp":false,"width":6,"collapse":false},{"id":"64536b6e.3f3cb4","type":"ui_tab","name":"reticDb","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"af2d15ff.81c4c8","type":"ui_tab","name":"Timings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ec2f8e4a.4317e","type":"ui_group","name":"CSS","tab":"64536b6e.3f3cb4","order":5,"disp":true,"width":5,"collapse":false},{"id":"cf75b7ed.3b4228","type":"ui_group","name":"Station Status","tab":"38de0167e8f237c7","order":2,"disp":false,"width":7,"collapse":false},{"id":"8e4884bb.ff1388","type":"ui_tab","name":"testing","icon":"dashboard","order":4},{"id":"7dbbcced.b28924","type":"ui_group","name":"StnTest","tab":"8e4884bb.ff1388","order":2,"disp":false,"width":8,"collapse":false},{"id":"b853047a.cf5318","type":"ui_group","name":"Master","tab":"8e4884bb.ff1388","order":3,"disp":true,"width":7,"collapse":false},{"id":"55bce2e9.0701dc","type":"ui_group","name":"The Switch","tab":"7f04f84.36f2908","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f04f84.36f2908","type":"ui_tab","name":"My Switch","icon":"dashboard","order":5},{"id":"38de0167e8f237c7","type":"ui_tab","name":"Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"11e65ac511977b0a","type":"ui_spacer","name":"spacer","group":"cf75b7ed.3b4228","order":5,"width":1,"height":1},{"id":"88308abe31d914b4","type":"ui_spacer","name":"spacer","group":"cf75b7ed.3b4228","order":17,"width":1,"height":1},{"id":"36192e8b1e8deb0b","type":"ui_spacer","name":"spacer","group":"cf75b7ed.3b4228","order":21,"width":2,"height":1},{"id":"fa80dadcae8e5359","type":"ui_spacer","name":"spacer","group":"cf75b7ed.3b4228","order":24,"width":1,"height":1},{"id":"1fb9d0bc0b64af49","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":2,"width":1,"height":1},{"id":"9a8fde4e9e768ac5","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":3,"width":1,"height":1},{"id":"4d8c9a4b2e16d2eb","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":4,"width":1,"height":1},{"id":"7e4e1e7d4c3c4fc7","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":5,"width":1,"height":1},{"id":"4982487d462651f8","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":6,"width":1,"height":1},{"id":"447ba0b2578c5049","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":7,"width":1,"height":1},{"id":"6fd5287a4d095e9c","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":8,"width":1,"height":1},{"id":"8dc118cd7118a804","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":9,"width":1,"height":1},{"id":"f3130ba7432bf0cf","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":10,"width":1,"height":1},{"id":"2429e0f8353a2510","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":11,"width":1,"height":1},{"id":"d3dedfd2867ade30","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":12,"width":1,"height":1},{"id":"dc621c9f752ce9af","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":13,"width":1,"height":1},{"id":"eb11b85f73432902","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":14,"width":1,"height":1},{"id":"6c62081f430be44e","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":15,"width":1,"height":1},{"id":"8c99ce0382b89f9e","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":16,"width":1,"height":1},{"id":"78e6ae7a70dd7c1a","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":17,"width":1,"height":1},{"id":"bd26816652dc848e","type":"ui_spacer","name":"spacer","group":"f8092567.ae5e58","order":18,"width":1,"height":1},{"id":"57262df4f908cf36","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":3,"width":1,"height":1},{"id":"8f5e4b8e592035d1","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":4,"width":1,"height":1},{"id":"1d900926c3427fee","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":5,"width":1,"height":1},{"id":"3fc4c235d5d4e04d","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":6,"width":1,"height":1},{"id":"51c6728f2cdb7fa3","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":7,"width":1,"height":1},{"id":"2e149d11ff6cfd60","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":9,"width":1,"height":1},{"id":"261130e9dc04db52","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":10,"width":1,"height":1},{"id":"f8cf6fb11d01a109","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":11,"width":1,"height":1},{"id":"61cb3561faadc362","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":12,"width":1,"height":1},{"id":"9617cc799e8c718d","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":13,"width":1,"height":1},{"id":"ced703bc44e8c008","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":14,"width":1,"height":1},{"id":"79a2803ec7765fa4","type":"ui_spacer","name":"spacer","group":"154d1ba5.8000d4","order":16,"width":4,"height":1},{"id":"9d678fa10cdc9b1b","type":"ui_spacer","name":"spacer","group":"72798175.ff854","order":6,"width":2,"height":1},{"id":"df8eb8def19298d1","type":"ui_spacer","name":"spacer","group":"72798175.ff854","order":9,"width":1,"height":1},{"id":"edf0910620bfa499","type":"ui_spacer","name":"spacer","group":"72798175.ff854","order":11,"width":6,"height":1},{"id":"238c6e3859f54ef3","type":"ui_spacer","name":"spacer","group":"72798175.ff854","order":13,"width":1,"height":1},{"id":"4f074507e495f0dc","type":"ui_spacer","name":"spacer","group":"72798175.ff854","order":14,"width":16,"height":1},{"id":"b4dd0be22a4b9b48","type":"ui_spacer","name":"spacer","group":"72798175.ff854","order":16,"width":2,"height":1},{"id":"80fc0ccea8bf498f","type":"ui_spacer","name":"spacer","group":"72798175.ff854","order":19,"width":2,"height":1},{"id":"8323029f.aab32","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"\n","name":"Data","x":290,"y":60,"wires":[["cd6c261d.45e518"]]},{"id":"4c76637.82e0b9c","type":"inject","z":"b998d35d.65591","name":"Data Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":" CREATE TABLE IF NOT EXISTS Data (  id INTEGER PRIMARY KEY, DoW INTEGER NOT NULL, Stn INTEGER NOT NULL, runTime INTEGER NOT NULL, startHrs INTEGER NOT NULL, startMins INTEGER NOT NULL, totStartM  INTEGER NOT NULL, offHr INTEGER NOT NULL, offMin INTEGER NOT NULL, totOffM INTEGER NOT NULL)","payload":"","payloadType":"date","x":100,"y":60,"wires":[["8323029f.aab32"]]},{"id":"d2f34307.054d3","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"\n","name":"Stations","x":300,"y":120,"wires":[["cd6c261d.45e518"]]},{"id":"260d4a66.b87556","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"\n","name":"DoW","x":290,"y":180,"wires":[["cd6c261d.45e518"]]},{"id":"516bb41.a86e14c","type":"comment","z":"b998d35d.65591","name":"Create Db Tables","info":"Setting up the three tables making up the database\nData to hold retic station & times\nStn to hold retic stations (7)\nDoW to hold Days of the Week (7)\n\nCREATE TABLE IF NOT EXISTS Data (  id INTEGER PRIMARY KEY, DoW INTEGER NOT NULL, Stn INTEGER NOT NULL, runTime INTEGER NOT NULL, startHrs INTEGER NOT NULL, startMins INTEGER NOT NULL, totStartM  INTEGER NOT NULL, offHr INTEGER NOT NULL, offMin INTEGER NOT NULL, totOffM INTEGER NOT NULL)","x":100,"y":20,"wires":[]},{"id":"d7a358bd.759f48","type":"inject","z":"b998d35d.65591","name":"DoW Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO DoW (DoW,DayShort,DayLong) VALUES     (1,\"Sun\",\"Sunday\"),     (2,\"Mon\",\"Monday\"),     (3,\"Tue\",\"Tuesday\"),     (4,\"Wed\",\"Wednesday\"),     (5,\"Thu\",\"Thursday\"),     (6,\"Fri\",\"Friday\"),     (7,\"Sat\",\"Saturday\");","payload":"","payloadType":"date","x":100,"y":280,"wires":[["9e878151.42c3f"]]},{"id":"9e878151.42c3f","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Input DoW","x":290,"y":280,"wires":[["cd6c261d.45e518"]]},{"id":"cd6c261d.45e518","type":"debug","z":"b998d35d.65591","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":180,"wires":[]},{"id":"fea6a62c.a5e988","type":"inject","z":"b998d35d.65591","name":"DoW Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM DoW ORDER BY DoW LIMIT 7;","payload":"","payloadType":"date","x":100,"y":440,"wires":[["871c6a82.13cb38"]]},{"id":"871c6a82.13cb38","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"List DoW","x":280,"y":440,"wires":[["ac7f6f55.30425"]]},{"id":"ac7f6f55.30425","type":"ui_template","z":"b998d35d.65591","group":"ea766da8.8acb2","name":"","order":1,"width":5,"height":8,"format":"<head>\n<style>\n table, th, td {\n    border: 1px solid black;\n    text-align: left;\n    color: white;\n    font-family: \"Times New Roman\", Times, serif;\n    font-size: 0.875em; /* 14px/16=0.875em */\n}\ntr:nth-child(even) {background-color: #708090;}\ntr:nth-child(odd) {background-color: #696969;}\n\n</style>    \n</head>\n<body>\n\n<table style=\"width:100%\">\n  <tr>\n\n<!--    <th>Index</th> -->\n    <th>DoW</th> \n    <th>DayShort</th>\n    <th>DayLong</th> \n\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:7\">\n<!--    <td>{{$index}}</td> -->\n    <td>{{msg.payload[$index].DoW}}</td>\n    <td>{{msg.payload[$index].DayShort}}</td> \n    <td>{{msg.payload[$index].DayLong}}</td>\n  </tr>\n</table>\n</body>\n\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":440,"wires":[["2492c86e.d607e8"]]},{"id":"2fb1d546.632e8a","type":"inject","z":"b998d35d.65591","name":"Stn Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS Stations ( Stn INTEGER NOT NULL, LocShort TEXT NOT NULL UNIQUE, LocLong TEXT NOT NULL UNIQUE)","payload":"","payloadType":"date","x":100,"y":120,"wires":[["d2f34307.054d3"]]},{"id":"d13542c1.0b614","type":"inject","z":"b998d35d.65591","name":"DoW Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS DoW ( DoW INTEGER NOT NULL, DayShort TEXT NOT NULL UNIQUE, DayLong TEXT NOT NULL UNIQUE )","payload":"","payloadType":"date","x":100,"y":180,"wires":[["260d4a66.b87556"]]},{"id":"daef88b8.201f78","type":"inject","z":"b998d35d.65591","name":"Stn Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO Stations (Stn,LocShort,LocLong) VALUES     (1,\"East\",\"East Side\"),     (2,\"West-U\",\"Upper West\"),     (3,\"Roses-W\",\"Roses + Slope\"),     (4,\"North\",\"North, MidTce, G/Vine\"),     (5,\"L-West\",\"Lower West & Verge\"),     (6,\"Lawns\",\"Lawns * 2\"),     (7,\"Pond\",\"Fish Pond\");","payload":"","payloadType":"date","x":100,"y":340,"wires":[["b95ac8bb.1b45b8"]]},{"id":"b95ac8bb.1b45b8","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Input Stations","x":300,"y":340,"wires":[["cd6c261d.45e518"]]},{"id":"7bf7c65f.3faa28","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"List Stations","x":290,"y":500,"wires":[["55a5b2d0.56309c"]]},{"id":"7ea863c7.81407c","type":"inject","z":"b998d35d.65591","name":"Stn Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM Stations ORDER BY Stn LIMIT 7;","payload":"","payloadType":"date","x":100,"y":500,"wires":[["7bf7c65f.3faa28"]]},{"id":"55a5b2d0.56309c","type":"ui_template","z":"b998d35d.65591","group":"94985fef.ef1f9","name":"","order":1,"width":7,"height":8,"format":"<table style=\"width:100%\">\n  <tr>\n<!--    <th>Index</th> -->\n    <th>Stn</th> \n    <th>Stn_Short</th>\n    <th>Station_Long</th> \n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:7\">\n<!--    <td>{{$index}}</td> -->\n    <td>{{msg.payload[$index].Stn}}</td> \n    <td>{{msg.payload[$index].LocShort}}</td>\n    <td>{{msg.payload[$index].LocLong}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":500,"wires":[["2492c86e.d607e8"]]},{"id":"912ae736.7900f8","type":"comment","z":"b998d35d.65591","name":"Data Input","info":"Fill DoW and Station tables with data","x":80,"y":240,"wires":[]},{"id":"74129bcb.97e484","type":"comment","z":"b998d35d.65591","name":"Data Display","info":"Display data in tables in dashboard tab reticDb","x":90,"y":400,"wires":[]},{"id":"23eb7897.150168","type":"inject","z":"b998d35d.65591","name":"Retic Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM Data ORDER BY id ;","payload":"","payloadType":"date","x":100,"y":560,"wires":[["a743b5a9.3bb1b8"]]},{"id":"a743b5a9.3bb1b8","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"List reticData","x":290,"y":560,"wires":[["f0711a3a.e586c8"]]},{"id":"f0711a3a.e586c8","type":"ui_template","z":"b998d35d.65591","group":"82d5e957.e83568","name":"","order":1,"width":12,"height":8,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>ID</th> \n    <th>DoW</th> \n    <th>Stn</th>\n    <th>rTime</th>\n    <th>sHrs</th>\n    <th>sMin</th>\n    <th>totSM</th>\n    <th>oHrs</th>\n    <th>oMin</th>\n    <th>totOM</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:15\">\n<!--    <td>{{$index}}</td> -->\n    <td>{{msg.payload[$index].id}}</td>\n    <td>{{msg.payload[$index].DoW}}</td> \n    <td>{{msg.payload[$index].Stn}}</td>\n    <td>{{msg.payload[$index].runTime}}</td>\n    <td>{{msg.payload[$index].startHrs}}</td>\n    <td>{{msg.payload[$index].startMins}}</td>\n    <td>{{msg.payload[$index].totStartM}}</td>\n    <td>{{msg.payload[$index].offHr}}</td>\n    <td>{{msg.payload[$index].offMin}}</td>\n    <td>{{msg.payload[$index].totOffM}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":560,"wires":[["2492c86e.d607e8"]]},{"id":"2492c86e.d607e8","type":"debug","z":"b998d35d.65591","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":500,"wires":[]},{"id":"bd824665.145ae8","type":"inject","z":"b998d35d.65591","name":"Delete Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE IF EXISTS  Data;","payload":"","payloadType":"date","x":110,"y":700,"wires":[["cbd9b21d.3a47d"]]},{"id":"cbd9b21d.3a47d","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Delete Table","x":290,"y":700,"wires":[["3a73e7e6.5eb948"]]},{"id":"3a73e7e6.5eb948","type":"debug","z":"b998d35d.65591","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":700,"wires":[]},{"id":"8eaea544.8c3ce8","type":"ui_template","z":"b998d35d.65591","group":"ec2f8e4a.4317e","name":"CSS","order":1,"width":0,"height":0,"format":"\n<style>\n\nbody {background-color: lightblue;}\nh4 {font-family; \"Times New Roman\", Times, serif; color: Moccasin; font-size: 18px; text-align: centre;text-decoration: underline;}\nh3 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 15px; text-align: centre;text-decoration: underline;}\n\n/* Radio Buttons */\n#rBut1 {font-family; \"Times New Roman\", Times, serif; color: LightBlue; font-size: 17px; text-align: centre;}\n#rBut2 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 17px; text-align: centre;}\n\n/* Slider */\n#hhmm1 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 15px; text-align: centre;}\n\n/* Tables non tabulator */\n#tTH {font-family; \"Times New Roman\", Times, serif; color: LightBlue; font-size: 17px; text-align: centre;}\n#tTD {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 17px; text-align: centre;}\n\n\n/* Table Formatting*/\n\n  .tabulator{padding-left:2px;border:0px solid #BBB;background-color:#202529;font-size:18px}\n\n/* Header Formatting */\n  .tabulator .tabulator-header{border-bottom:1px solid #BBB;background-color:#202529}\n  .tabulator-col-content{background-color:#202529;height:37px}\n  .tabulator .tabulator-header .tabulator-col{border-right:0px solid #aaa;background-color:#202529}\n  .tabulator-arrow{visibility: collapse;} \n  .tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {padding-right: 2px;}\n\n/* Items Formatting*/\n  .tabulator-row{min-height:31px;background-color:#181c1f}\n  .tabulator-row:nth-child(2n){background-color:#202529}\n  .tabulator-row .tabulator-cell{border-right:0px solid #888; padding-top: 4px;} \n\n</style>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":70,"y":760,"wires":[[]]},{"id":"2f2399ea.97ff26","type":"inject","z":"b998d35d.65591","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"UPDATE Data SET totStartM = 400 WHERE id = 3;","payload":"","payloadType":"date","x":90,"y":640,"wires":[["447c14ae.00611c"]]},{"id":"447c14ae.00611c","type":"sqlite","z":"b998d35d.65591","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Update sql","x":270,"y":640,"wires":[["91e109ce.5567d8"]]},{"id":"91e109ce.5567d8","type":"debug","z":"b998d35d.65591","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":640,"wires":[]},{"id":"d2f108c4.9ff8b8","type":"ui_template","z":"b998d35d.65591","group":"154d1ba5.8000d4","name":"","order":2,"width":1,"height":1,"format":"<head>  \n<style>\nbody {background-color: lightblue;}\nh3 {font-family; \"Times New Roman\", Times, serif; color: Moccasin; font-size: 18px; text-align: centre;text-decoration: underline;}\nh4 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 15px; text-align: centre;text-decoration: underline;}\nh5 {font-family; \"Times New Roman\", Times, serif; color: #F0F8FF; font-size: 15px; text-align: centre;text-decoration: underline;} \n\n#rBut1 {font-family; \"Times New Roman\", Times, serif; color: LightBlue; font-size: 17px; text-align: centre;} \n#rBut2 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 17px; text-align: centre;} \n#hhmm1 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 15px; text-align: centre;} \n\n/*   This is the normal button definition  */\n    .remote-button{\n        background-color: blue !important;\n        color: #cccccc !important;\n        height: 30px;\n        width: 40%;\n        border-radius: 10px;\n        font-size:.65em;\n        font-weight:normal;\n        margin: 0;\n        min-height: 26px;\n        min-width: unset;\n        line-height: unset;\n    }\n\n/*This is definition for station buttons */\n    .md-button {\n    border-radius: 20%;\n}\n\n/* This is definition of submit/reset buttons */\n\ninput[type = submit], input[type = reset] {\n            background-color: orange;\n            border: none;\n            text-decoration: none;\n            color: white;\n            padding: 10px 10px;\n            margin: 10px 10px;\n            cursor: pointer;\n         }\n\ninput[type=number] {\nfont-size: 15px;\n}\n\n#nr-dashboard-widget-{ID} {\n color: blue;   \n}\n\n\n\n/* Table Formatting*/\n  .tabulator{padding-left:2px;border:0px solid #BBB;background-color:#202529;font-size:15px}\n\n/* Header Formatting */\n  .tabulator .tabulator-header{border-bottom:1px solid #BBB;background-color:#202529}\n  .tabulator-col-content{background-color:#202529;height:37px}\n  .tabulator .tabulator-header .tabulator-col{border-right:0px solid #aaa;background-color:#202529}\n  .tabulator-arrow{visibility: collapse;} \n  .tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {padding-right: 2px;}\n\n/* Items Formatting*/\n  .tabulator-row{min-height:31px;background-color:#181c1f}\n  .tabulator-row:nth-child(2n){background-color:#202529}\n  .tabulator-row .tabulator-cell{border-right:0px solid #888; padding-top: 4px;}\n  \n</style>\n</head>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":300,"y":20,"wires":[[]]},{"id":"ba50dd58.efc5a","type":"join","z":"5841ba8b.955724","name":"Join_Data","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":360,"y":40,"wires":[["38a35f43.f58e1"]]},{"id":"38a35f43.f58e1","type":"function","z":"5841ba8b.955724","name":"Insert_sql","func":"// Join node passes an array of 4 payloads\n// Creates array pairs by inserting name:value, etc\n// DoW & Stn are passed as strings, so converted to number\n// msg.payload then passed as sql list of key:name values\n// Database = Data Columns =  id, DoW, Stn, runTime, startHrs, startMins, offHr , offMin\n\nvar sql = \"\";\nvar outputs = [];\nvar myDoW = (Number(msg.payload[0]));\nvar myStn = (Number(msg.payload[1]));\nvar myrunTime = (Number(msg.payload[2]));\nvar mystartHrs = (Number(msg.payload[3]));\nvar mystartMins = (Number(msg.payload[4]));\nvar mytotStartM = (mystartHrs*60)+mystartMins;\n\n//Calculate Off times\nvar mytotOffM = (mytotStartM + myrunTime);\nvar myoffHr = parseInt(mytotOffM/60);\nvar myoffMin = mytotOffM - (myoffHr*60);\n\n//Define sql\nsql = \"INSERT INTO Data (DoW,Stn,runTime,startHrs,startMins,totStartM,offHr,offMin,totOffM) \" +\n      \"VALUES (\"+myDoW+\",\"+myStn+\",\"+myrunTime+\",\"+mystartHrs+\",\"+mystartMins+\",\"+mytotStartM+\",\"+myoffHr+\",\"+myoffMin+\",\"+mytotOffM+\")\";\noutputs.push({topic:sql}); \nreturn [outputs];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":40,"wires":[["272c9709.9d4c78"]]},{"id":"272c9709.9d4c78","type":"sqlite","z":"5841ba8b.955724","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Insert Data","x":690,"y":40,"wires":[[]]},{"id":"1eed3293.484e4d","type":"ui_template","z":"5841ba8b.955724","group":"f8092567.ae5e58","name":"","order":1,"width":6,"height":17,"format":"<!--\nCreate radio button lists for Day of week and retic stations\nCreate slider to give station run time\nCreate \"Record button to pass Day, starttime & runtime to sql function\n-->\n<head>    \n<style id=\"remote-buttons\"></style>\n\n</head>\n\n<body>\n<form>\n<h3>Input Retic Data</h3>\n<h4>Day of Week</h4>\n<div style=\"margin:0 0 0 10px\">\n<p id=\"rBut1\">\n  <input type=\"radio\" ng-model=\"$parent.myDoW\" id=1 name=\"DoW\" value=1> \n  <label for=1>Sunday</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myDoW\" id=2 name=\"DoW\" value=2> \n  <label for=2>Monday</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myDoW\" id=3 name=\"DoW\" value=3> \n  <label for=3>Tuesday</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myDoW\" id=4 name=\"DoW\" value=4> \n  <label for=4>Wednesday</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myDoW\" id=5 name=\"DoW\" value=5> \n  <label for=5>Thursday</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myDoW\" id=6 name=\"DoW\" value=6>\n  <label for=6>Friday</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myDoW\" id=7 name=\"DoW\" value=7>\n  <label for=7>Saturday</label><br>\n</p>\n\n<h4>Retic Station</h4>\n<p id=\"rBut2\">\n  <input type=\"radio\" ng-model=\"$parent.myStnRB\" id=1 name=\"Stn\" value=1>\n  <label for=1>1: East Side</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myStnRB\" id=2 name=\"Stn\" value=2>\n  <label for=2>2: Upper West</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myStnRB\" id=3 name=\"Stn\" value=3>\n  <label for=3>3: Rose Bed etc</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myStnRB\" id=4 name=\"Stn\" value=4>\n  <label for=4>4: North etc</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myStnRB\" id=5 name=\"Stn\" value=5>\n  <label for=5>5: Verge etc </label><br>\n  <input type=\"radio\" ng-model=\"$parent.myStnRB\" id=6 name=\"Stn\" value=6>\n  <label for=6>6: Lawns</label><br>\n  <input type=\"radio\" ng-model=\"$parent.myStnRB\" id=7 name=\"Stn\" value=7>\n  <label for=7>7: Pond</label>\n</p>\n</div>\n<!-- slider to record retic station run time \"value.state\" -->\n   <div class=\"slider\">\n   <h4>Station Run Time</h4>\n    \n   <md-slider style=\"width: 40px;\" .btn-small min=\"0\" max=\"30\" step=\"1\" ng-model=\"runTime_S\" ng-change=\"send({value.name})\"></md-slider>\n   <p id= \"rBut2\"> {{runTime_S}} minutes </p>\n   </div>\n\n<p id=\"rBut2\">\n    <label> Start at: </label><br>\n    <label for=\"Hrs\">H:</label>\n    <input type=\"number\" ng-model=\"$parent.myHours\" id=\"Hours\" name=\"Hours\" style=\"width: 35px;\" fontsize=\"10\" min=\"5\" max=\"21\" value=\"5\">\n    <label for=\"Minutes\">m:</label>\n    <input type=\"number\" ng-model=\"$parent.myMinutes\" id=\"Minutes\" name=\"Minutes\" style=\"width: 35px;\" min=\"0\" max=\"59\" maxlength=\"2\" value=\"30\">\n</p>\n<br>\n\n<!-- To send data as msg.payloads use button click to return value of myDoW, myStnRB, runTime,  & Minutes -->\n     \n     <md-button class=\"md-button remote-button\" ng-click= \"send({payload:myDoW+','+myStnRB+','+runTime_S+','+myHours+','+myMinutes})\"> \n      Record  \n    </md-button>\n\n    <input type=\"reset\" value=\"Clear\"> \n    \n</form>\n</body>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":80,"y":40,"wires":[["3035cfef.6a1c"]]},{"id":"3035cfef.6a1c","type":"split","z":"5841ba8b.955724","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":40,"wires":[["ba50dd58.efc5a"]]},{"id":"16f439c0.9d1366","type":"comment","z":"5841ba8b.955724","name":"","info":"To update all run times on a specified day by x minutes:\n\nWe need to get number of minutes\nWe need to sort by day\nWe need to get list of records\nWe need to loop through updating run Times\n\nThis will give rise to overlaps with start times\nSo start times also need to be extended, except for record 1.\nretic_3.py routine called to manage\n\nAfter updating the records we need to redisplay\nWe can do this by returning doWId from python script and running the list by DoW routine\nHow do we pass this value?","x":80,"y":220,"wires":[]},{"id":"12df9240.98a64e","type":"ui_template","z":"5841ba8b.955724","group":"72798175.ff854","name":"DoW_TimeAdjAll","order":18,"width":10,"height":1,"format":"<!--\nCreate radio buttons for days of week\nCreate number input for time adjust\nOn click change send day of week and time adjust to python routine\n-->\n<p id=\"rBut1\">\n  <input type=\"radio\" ng-model=\"$parent.myDay\" id=1 name=\"DoW\" value=1> \n  <label for=1>Sun</label>\n  <input type=\"radio\" ng-model=\"$parent.myDay\" id=2 name=\"DoW\" value=2> \n  <label for=2>Mon</label>\n  <input type=\"radio\" ng-model=\"$parent.myDay\" id=3 name=\"DoW\" value=3> \n  <label for=3>Tue</label>\n  <input type=\"radio\" ng-model=\"$parent.myDay\" id=4 name=\"DoW\" value=4> \n  <label for=4>Wed</label>\n  <input type=\"radio\" ng-model=\"$parent.myDay\" id=5 name=\"DoW\" value=5> \n  <label for=5>Thu</label>\n  <input type=\"radio\" ng-model=\"$parent.myDay\" id=6 name=\"DoW\" value=6>\n  <label for=6>Fri</label>\n  <input type=\"radio\" ng-model=\"$parent.myDay\" id=7 name=\"DoW\" value=7>\n  <label for=7>Sat</label>\n</p>\n\n<p id=\"rBut2\">\n    <label> Choose Day & adjust by : </label>\n    <label for=\"Minutes\">min</label>\n    <input type=\"number\" ng-model=\"$parent.my_Mins\" id=\"Minutes\" name=\"Minutes\" style=\"width: 40px;\" min=\"-9\" max=\"10\" maxlength=\"2\" value=\"0\">\n\n<!-- To send data as msg.payloads use button click to return value of myDoW, myStnRB, runTime,  & Minutes -->\n     <md-button class=\"md-button remote-button\" style = \"width: 65px;\" ng-click= \"send({payload: myDay+','+my_Mins})\"> \n      Change  \n    </md-button>\n    </p>\n    \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":140,"wires":[["392ad88e.742188"]]},{"id":"392ad88e.742188","type":"split","z":"5841ba8b.955724","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":290,"y":140,"wires":[["71cab1b8.e40d8"]]},{"id":"71cab1b8.e40d8","type":"join","z":"5841ba8b.955724","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":140,"wires":[["bdb7bcd1.ec628","a1934472.3bfa98"]]},{"id":"c7426c58.0a0bc","type":"comment","z":"5841ba8b.955724","name":"","info":"Have the number of records\n\nNeed to access each record and update data via sql node? How?\n\nSql Day Records gives number of instances\nrecords = msg.payload.length\nEach record has an index 0 - x\nRecord details can be accessed by adressing the index via incremental count function\nindex = flow.get(\"count\")\n\n\n\nLoop through these updating times","x":660,"y":360,"wires":[]},{"id":"c5268645.7496a8","type":"eztimer","z":"5841ba8b.955724","name":"12v Lights_A","autoname":"14:03","suspended":false,"sendEventsOnSuspend":false,"lat":"115.745","lon":"-31.814","timerType":"2","startupMessage":false,"ontype":"2","ontimesun":"sunsetStart","ontimetod":"14:03","onproperty":"payload","onvaluetype":"bool","onvalue":"true","onoffset":0,"onrandomoffset":0,"offtype":"1","offtimesun":"sunset","offtimetod":"","offduration":"2:30","offproperty":"payload","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":90,"y":440,"wires":[["777a576b.ced1a8"]]},{"id":"1eb72c35.39f144","type":"rpi-gpio out","z":"5841ba8b.955724","name":"","pin":"17","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":460,"y":420,"wires":[]},{"id":"1db53609.0812aa","type":"change","z":"5841ba8b.955724","name":"On","rules":[{"t":"set","p":"colour","pt":"msg","to":"#ffa500","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-lightbulb-o\" aria-hidden=\"true\"> 1</i>","tot":"str"},{"t":"set","p":"OnOff","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[["887a143c.caf158","e4f77779.66e7d8"]]},{"id":"887a143c.caf158","type":"ui_button","z":"5841ba8b.955724","name":"L1","group":"cf75b7ed.3b4228","order":19,"width":1,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"click","payloadType":"str","topic":"","x":670,"y":440,"wires":[["1296808.8f6fa8"]]},{"id":"8586601d.96ad8","type":"inject","z":"5841ba8b.955724","name":"True/On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"On","payload":"1","payloadType":"num","x":60,"y":720,"wires":[[]]},{"id":"afbc9b86.90e138","type":"inject","z":"5841ba8b.955724","name":"False/Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Off","payload":"0","payloadType":"num","x":60,"y":760,"wires":[[]]},{"id":"eaebad60.a5bab","type":"change","z":"5841ba8b.955724","name":"Off","rules":[{"t":"set","p":"colour","pt":"msg","to":"#686868","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-lightbulb-o\" aria-hidden=\"true\"> 1</i>","tot":"str"},{"t":"set","p":"OnOff","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":540,"wires":[["887a143c.caf158","e4f77779.66e7d8"]]},{"id":"777a576b.ced1a8","type":"switch","z":"5841ba8b.955724","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":440,"wires":[["1db53609.0812aa","1eb72c35.39f144","c9bba7ee.aa57f8"],["eaebad60.a5bab","1eb72c35.39f144","c9bba7ee.aa57f8"]]},{"id":"1296808.8f6fa8","type":"function","z":"5841ba8b.955724","name":"","func":"var OnOff = flow.state || OnOff;\nOnOff = flow.get(\"OnOff\");\n//If Off or 0 turn on by sending payload of 1\nif (OnOff == 0) {\nmsg.payload = 1;\n}\n//else light is on so turn off\nelse {\nmsg.payload = 0;\n}\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[["777a576b.ced1a8"]]},{"id":"35c5d680.ee66ea","type":"eztimer","z":"5841ba8b.955724","name":"12v Lights_B","autoname":"10:15","suspended":false,"sendEventsOnSuspend":false,"lat":"115.745","lon":"-31.814","timerType":"2","startupMessage":false,"ontype":"2","ontimesun":"solarNoon","ontimetod":"10:15","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":0,"onrandomoffset":0,"offtype":"1","offtimesun":"dusk","offtimetod":"17:30","offduration":"01:30","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":90,"y":660,"wires":[["7ec2ead6.b0f514"]]},{"id":"7ec2ead6.b0f514","type":"switch","z":"5841ba8b.955724","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":660,"wires":[["f6d1c58c.f13998","601844e7.cd1e8c","7738dd8b.043124"],["58365baf.9588d4","601844e7.cd1e8c","7738dd8b.043124"]]},{"id":"c9bba7ee.aa57f8","type":"rpi-gpio out","z":"5841ba8b.955724","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":460,"y":480,"wires":[]},{"id":"e4f77779.66e7d8","type":"ui_button","z":"5841ba8b.955724","name":"L2","group":"cf75b7ed.3b4228","order":20,"width":1,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"click","payloadType":"str","topic":"","x":670,"y":480,"wires":[["1296808.8f6fa8"]]},{"id":"9f89d89a.2d28b8","type":"ui_text","z":"5841ba8b.955724","group":"cf75b7ed.3b4228","order":18,"width":3,"height":1,"name":"12v Out_A","label":"<h3>12v 1,2</h3> ","format":"{{msg.payload}}","layout":"row-left","x":90,"y":500,"wires":[]},{"id":"f6d1c58c.f13998","type":"change","z":"5841ba8b.955724","name":"On","rules":[{"t":"set","p":"colour","pt":"msg","to":"#ffa500","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-lightbulb-o\" aria-hidden=\"true\"> 2</i>","tot":"str"},{"t":"set","p":"OnOff_B","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":600,"wires":[["5d9f4c1.493dab4","51a5a874.ff89b8"]]},{"id":"601844e7.cd1e8c","type":"rpi-gpio out","z":"5841ba8b.955724","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":480,"y":640,"wires":[]},{"id":"7738dd8b.043124","type":"rpi-gpio out","z":"5841ba8b.955724","name":"","pin":"23","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":480,"y":700,"wires":[]},{"id":"58365baf.9588d4","type":"change","z":"5841ba8b.955724","name":"Off","rules":[{"t":"set","p":"colour","pt":"msg","to":"#686868","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-lightbulb-o\" aria-hidden=\"true\"> 2</i>","tot":"str"},{"t":"set","p":"OnOff_B","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":760,"wires":[["5d9f4c1.493dab4","51a5a874.ff89b8"]]},{"id":"5d9f4c1.493dab4","type":"ui_button","z":"5841ba8b.955724","name":"L3","group":"cf75b7ed.3b4228","order":22,"width":1,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"click","payloadType":"str","topic":"","x":690,"y":660,"wires":[["5dd74152.e7dd4"]]},{"id":"51a5a874.ff89b8","type":"ui_button","z":"5841ba8b.955724","name":"L4","group":"cf75b7ed.3b4228","order":23,"width":1,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"Click","payloadType":"str","topic":"","x":690,"y":700,"wires":[["5dd74152.e7dd4"]]},{"id":"5dd74152.e7dd4","type":"function","z":"5841ba8b.955724","name":"","func":"var OnOff_B = flow.state || OnOff_B;\nOnOff_B = flow.get(\"OnOff_B\");\n//If Off or 0 turn on by sending payload of 1\nif (OnOff_B == 0) {\nmsg.payload = 1;\n}\n//else light is on so turn off\nelse {\nmsg.payload = 0;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":700,"wires":[["7ec2ead6.b0f514"]]},{"id":"7e8baf2a.7bb3","type":"ui_text","z":"5841ba8b.955724","group":"cf75b7ed.3b4228","order":16,"width":3,"height":1,"name":"12V Out_B","label":"<h3>12v 3,4</h3> ","format":"{{msg.payload}}","layout":"row-left","x":90,"y":620,"wires":[]},{"id":"bdb7bcd1.ec628","type":"exec","z":"5841ba8b.955724","command":"python3 ~/Documents/retic_3.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Adjust RunTime","x":620,"y":140,"wires":[["c27af171.0e958"],["8d343398.9af22","c27af171.0e958"],[]]},{"id":"8d343398.9af22","type":"debug","z":"5841ba8b.955724","name":"Error msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":220,"wires":[]},{"id":"190595df.c5133a","type":"ui_text","z":"5841ba8b.955724","group":"72798175.ff854","order":20,"width":16,"height":2,"name":"Info","label":"","format":"<h6>{{msg.payload}}</h6>","layout":"row-left","x":830,"y":180,"wires":[]},{"id":"f847cc1e.f51128","type":"comment","z":"5841ba8b.955724","name":"","info":"Provides routine to take inputs from screen\nand update database with the new record","x":80,"y":80,"wires":[]},{"id":"3ca343d0.f64604","type":"link out","z":"5841ba8b.955724","name":"","links":["45600f6c.d1ee78"],"x":555,"y":220,"wires":[]},{"id":"a1934472.3bfa98","type":"function","z":"5841ba8b.955724","name":"","func":"msg.payload = (Number(msg.payload[0]));\n//msg.payload = myDow_Id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["3ca343d0.f64604"]]},{"id":"f5a1ea30.1cf4b8","type":"ui_text","z":"5841ba8b.955724","group":"72798175.ff854","order":15,"width":10,"height":1,"name":"RunTime Text","label":"","format":"<font size=\"1\"><font color=#F5F5DC>Adjust runtime for all stations for day</font>","layout":"row-left","x":100,"y":180,"wires":[]},{"id":"c27af171.0e958","type":"trigger","z":"5841ba8b.955724","name":"","op1":"","op2":"Status","op1type":"pay","op2type":"str","duration":"8","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":820,"y":120,"wires":[["190595df.c5133a"]]},{"id":"a42fde51.f56f2","type":"ui_button","z":"3ffed911.3c6796","name":"","group":"154d1ba5.8000d4","order":15,"width":2,"height":1,"passthru":true,"label":"List All","tooltip":"Click to show ","color":"","bgcolor":"#4d94ff","icon":"","payload":"","payloadType":"str","topic":"SELECT  Data.id,DoW.DayLong,Data.Stn,Stations.LocShort,Data.startHrs,Data.startMins,Data.runTime,Data.offHr,Data.offMin FROM Data INNER JOIN Stations ON Stations.Stn=Data.Stn INNER JOIN DoW ON Data.DoW=DoW.DoW  ORDER BY DoW.DoW ASC;","x":230,"y":40,"wires":[["9ae4cd68.bcd5b"]]},{"id":"9ae4cd68.bcd5b","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"List All","x":750,"y":40,"wires":[["26a25179.8af6de"]]},{"id":"6b6e148d.0f979c","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Delete-Rec","x":390,"y":240,"wires":[[]]},{"id":"997df8e4.ac4d38","type":"function","z":"3ffed911.3c6796","name":"","func":"//Form outputs data as array [id:value]\n//So to access value use msg.payload.id\n\nvar sql = \"\";\nvar outputs = [];\nvar recId = msg.payload;\nsql =\"DELETE FROM Data WHERE Data.id=\"+recId;\noutputs.push({topic:sql}); \nreturn [outputs];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":240,"wires":[["6b6e148d.0f979c"]],"info":"DELETE FROM Data WHERE Data.id=id;"},{"id":"f3c8ed03.1e698","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"fixed","sql":"SELECT * FROM DoW ORDER BY DoW LIMIT 7","name":"DoW Array","x":250,"y":120,"wires":[["233ca84.c334b58"]]},{"id":"57601ef0.19b67","type":"function","z":"3ffed911.3c6796","name":"Sql","func":"//Form outputs data as array [id:value]\n//So to access value use msg.payload.id\n\nvar sql = \"\";\nvar outputs = [];\nvar dowId = Number(msg.payload);\n\nsql = \"SELECT Data.id,DoW.DayLong,Stations.Stn,Stations.LocShort,Data.runTime,Data.startHrs,Data.startMins,Data.offHr,Data.offMin FROM Data\"\n+\" INNER JOIN Stations ON Stations.Stn=Data.Stn INNER JOIN DoW ON Data.DoW=DoW.DoW\"\n+\" WHERE Data.DoW =\"+dowId+\" ORDER BY Data.startHrs ASC, Data.startMins ASC\";\n\noutputs.push({topic:sql}); \nreturn [outputs];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":120,"wires":[["16d706ed.4197f9"]]},{"id":"16d706ed.4197f9","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"List by Day","x":730,"y":120,"wires":[["26a25179.8af6de"]]},{"id":"f9487d14.3e40c","type":"comment","z":"3ffed911.3c6796","name":"Data Actions","info":"Input Data:\nData table columns are: id, DoW, Stn, runTime, startHrs, startMins, offHr, offMin (all integers and required)\nDoW ( DoW INTEGER NOT NULL, DayShort TEXT NOT NULL UNIQUE, DayLong TEXT NOT NULL UNIQUE )\nStations ( Stn INTEGER NOT NULL, LocShort TEXT NOT NULL UNIQUE, LocLong TEXT NOT NULL UNIQUE)\n\nValues input by radio buttons, slider and number box. OffHr & offMin calculated\nThe values are joined to provide an sql string then passed to the sql node adding the data to the database\n\nList All Data\nSql = SELECT  Data.id,DoW.DayShort,Stations.Stn,Stations.LocShort,Data.runTime,Data.startHrs,Data.startMins,Data.offHr,Data.offMin FROM Data INNER JOIN Stations ON Stations.Stn=Data.Stn INNER JOIN DoW ON Data.DoW=DoW.DoW  ORDER BY DoW.DoW ASC;\n\nDoW data\nSql = SELECT * FROM DoW ORDER BY DoW LIMIT 7;\n\nStations data\nSql = SELECT * FROM Stations ORDER BY Stn LIMIT 7;\n\nTimestamp creates a  msg.topic  of above sql which is then passed to sqlite node to generate an array of data [id:value] which in turn is passed to template node to create radio buttons.\n\nWe require the DoW and Stn values from the buttons to pass to a sql query as the search parameters.\nTo do this we pass the value clicked to a sql query.\n\nData by DoW\nsql = \"SELECT Data.id,DoW.DayShort,Stations.Stn,Stations.locShort,Data.runTime,Data.startHrs,Data.startMins,Data.offHr,Data.offMin\"+\n\" FROM Data INNER JOIN Stations ON Stations.Stn = Data.Stn INNER JOIN DoW ON DoW.DoW = Data.DoW\"+\n\" WHERE Data.Stn =\"+myStn+\" ORDER BY DoW.DoW ASC\"\n\nData by Stn\nsql = \"SELECT Data.id,DoW.DayShort,Stations.Stn,Stations.locShort,Data.runTime,Data.startHrs,Data.startMins,Data.offHr,Data.offMin\"+\n\" FROM Data INNER JOIN Stations ON Stations.Stn = Data.Stn INNER JOIN DoW ON DoW.DoW = Data.DoW\"+\n\" WHERE Data.Stn =\"+myStn+\" ORDER BY DoW.DoW ASC\"\n\nStations sql is giving error of \"no such column:NaN\" don't know why???\n\nTo delete a record use number input box to accept Data.id row and pass to function to build the delete sql\nsql =\"DELETE FROM Data WHERE Data.id=\"+recId\n","x":70,"y":20,"wires":[]},{"id":"2fc835d1.ac8d3a","type":"ui_template","z":"3ffed911.3c6796","group":"72798175.ff854","name":"Delete","order":17,"width":4,"height":2,"format":"<style id=\"remote-buttons\">\n\n</style>\n    <p id=\"rBut2\">\n   <label for=\"dataId\">ID:</label>\n   <input type=\"number\" id=\"dataId\" style=\"width:35px\" min=\"0\" background-color=\"lightblue\"> </p>\n\n<div id=\"btn_1\">   \n   <md-button class=\"md-warn\" style=\"width:60\" aria-label=\"Del\">Delete \n   </md-button>\n</div>\n\n<script>\n//We have two nested functions $scope checks if button clicked and runs function(e) if it has been\n//payload x then needs to be obtained within function(e) as a local scope\n\n(function($scope) {\n    \n    $('#btn_1').on('click', function(e) {\n    e.preventDefault(); //prevent default behavior\n    \n//Get value in number box \"dataId\".value\" which is string so convert to num with parseInt()\n    var x = parseInt((document.getElementById(\"dataId\").value));\n    \n//Send topic and payload\n    $scope.send({\"topic\":\"delete_row\",\"payload\":x});\n});\n    \n})(scope);\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":70,"y":240,"wires":[["997df8e4.ac4d38"]]},{"id":"cdd44a0c.7a8668","type":"comment","z":"3ffed911.3c6796","name":"Sundry Code","info":"Forum code to get value when button pressed:\n<md-button class=\"mybutton\" ng-click=\"send({topic:'clicked', payload:'button was clicked'})\">SAVE</md-button>\n\n<!-- Button passes data msg.payload in form of an array of row/objects \n First ng-repeat loops through each row and limits display to 7 rows \n Second ng-repeat gets the data within each row as item\n NB method used to display DoW & Stations tables only worked for numbers in this situation\n -->\n\n<!-- Code used to display simple table from sql array in msg.payload using ng-repeat -->\n\n<table id=\"table\" border=\"2\" style=\"width:100%\">\n<tr>\n     <th>id</th> \n    <th>DoW</th>\n    <th>Stn</th>\n    <th>Locale</th>\n    <th>Hr:</th>\n    <th>mm</th>\n    <th>R-mm</th>\n    <th>O-Hr:</th>\n    <th>mm</th>\n<tbody>     \n     <tr ng-repeat=\"row in msg.payload \">\n     <td ng-repeat=\"item in row\" bgcolor=grey>{{item}}</td> \n</tr>\n</tbody>\n</table>\n\n//Form outputs data as array [id:value]\n//So to access value use msg.payload.id\n\nvar sql = \"\";\nvar outputs = [];\nvar Stn = Number(msg.payload);\n\nsql = \"SELECT Data.id,DoW.DayLong,Stations.Stn,Stations.locShort,Data.runTime,Data.startHrs,Data.startMins,Data.offHr,Data.offMin\"+\n\" FROM Data INNER JOIN Stations ON Stations.Stn = Data.Stn INNER JOIN DoW ON DoW.DoW = Data.DoW\"+\n\" WHERE Data.Stn =\"+Stn+\" ORDER BY DoW.DoW ASC\";\n\noutputs.push({topic:sql}); \nreturn [outputs];\n\n<style>\nbody {background-color: lightblue;}\nh4 {font-family; \"Times New Roman\", Times, serif; color: Moccasin; font-size: 18px; text-align: centre;text-decoration: underline;}\n#rBut1 {font-family; \"Times New Roman\", Times, serif; color: LightBlue; font-size: 17px; text-align: centre;}\n\n</style>\n\n<form>\n<h3>List by:</h3>\n<h4>Day of Week</h4>  \n\n<div style=\"margin:0 0 0 -20px:\">\n    <ul>\n        <li ng-repeat=\"row in msg.payload\"\n        style=\"list-style-type: none;\" \n        >\n        <p id=\"rBut1\">   \n        <label>\n          <input type=\"radio\" ng-model=\"$parent.myDoW\" id=\"$parent.index\" value ={{msg.payload[$index].DoW}} name=\"DoW\"/>\n         {{msg.payload[$index].DayLong}}\n        </label>\n        </p>\n        </li>\n    </ul>\n</div>\n\n\n<!-- To send data as msg.payloads use button click to return value of DoW -->\n    <md-button class=\"md-primary\" ng-click=\"topic.payload = myDoW; send(topic)\"> \n      List by Day  \n    </md-button> \n</form>\n\n\n<!-- Imported code as example to set default slider value etc -->\n<div ng-repeat=\"(key, value) in msg.fixturesettings\">\n    <div style=\"display:inline;width:20%\">{{value.label}}</div>\n    <div style=\"float:right;width:80%\"><md-slider min=\"0\" max=\"100\" step=\"{{value.resolution}}\" ng-model=\"value.setting.brightness\" ng-change=\"send({action: 'bri', topic: key, brightness: value.setting.brightness})\"></md-slider></div>\n\n\n","x":70,"y":60,"wires":[]},{"id":"26a25179.8af6de","type":"ui_table","z":"3ffed911.3c6796","group":"72798175.ff854","name":"Listings","order":2,"width":16,"height":7,"columns":[{"field":"id","title":"id","width":"9px","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"DayLong","title":"Day","width":"20px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Stn","title":"Stn","width":"8px","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"LocShort","title":"Locale","width":"15px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"startHrs","title":"S  hh:","width":"9px","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"startMins","title":"mm","width":"8px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"runTime","title":"Run","width":"8px","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"offHr","title":"O hh:","width":"9px","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"offMin","title":"mm","width":"8px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":940,"y":180,"wires":[["24983812.3a7578"]]},{"id":"9f33f8be.410448","type":"switch","z":"3ffed911.3c6796","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"id","vt":"str"},{"t":"eq","v":"Stn","vt":"str"},{"t":"eq","v":"startHrs","vt":"str"},{"t":"eq","v":"startMins","vt":"str"},{"t":"eq","v":"runTime","vt":"str"},{"t":"eq","v":"DayLong","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":110,"y":460,"wires":[["840e4d4b.6f24a","17c7ab5b.356e95"],["7d42d7ff.b15858"],["8ab61fd.c03c7e"],["6a8f18af.b59208"],["bbad521c.fce2"],["840e4d4b.6f24a"]]},{"id":"92c81bf7.902608","type":"ui_button","z":"3ffed911.3c6796","name":"Update","group":"72798175.ff854","order":12,"width":4,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"#0000FF","icon":"","payload":"{}","payloadType":"global","topic":"Save","x":560,"y":640,"wires":[["840e4d4b.6f24a"]]},{"id":"840e4d4b.6f24a","type":"join","z":"3ffed911.3c6796","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":530,"y":580,"wires":[["7fd331fe.406fb"]]},{"id":"8ab61fd.c03c7e","type":"ui_numeric","z":"3ffed911.3c6796","name":"startHrs","label":"<font size=\"2\">S:h</font>","tooltip":"","group":"72798175.ff854","order":7,"width":3,"height":1,"wrap":true,"passthru":true,"topic":"startHrs","format":"<font size=\"2\"><font color=#FFFF00><b>{{value}}</b></font>","min":"5","max":"22","step":1,"x":340,"y":580,"wires":[["840e4d4b.6f24a"]]},{"id":"6a8f18af.b59208","type":"ui_numeric","z":"3ffed911.3c6796","name":"startMins","label":"<font size=\"2\">S:m</font>","tooltip":"","group":"72798175.ff854","order":8,"width":3,"height":1,"wrap":true,"passthru":true,"topic":"startMins","format":"<font size=\"2\"><font color=#FFFF00><b>{{value}}</b></font>","min":0,"max":"59","step":1,"x":320,"y":640,"wires":[["840e4d4b.6f24a"]]},{"id":"24983812.3a7578","type":"split","z":"3ffed911.3c6796","name":"Split to CSV","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"topic","x":110,"y":340,"wires":[["9f33f8be.410448"]]},{"id":"17c7ab5b.356e95","type":"ui_text","z":"3ffed911.3c6796","group":"72798175.ff854","order":3,"width":2,"height":1,"name":"ID","label":"<font size=\"2\">ID","format":"<font size=\"2\"><font color=#00FF7F><b>{{msg.payload}}</b></font>","layout":"row-left","x":470,"y":480,"wires":[]},{"id":"bbad521c.fce2","type":"ui_slider","z":"3ffed911.3c6796","name":"runTime","label":"<font size=\"2\"><font color=#FFFF00>Run</font></font color>","tooltip":"","group":"72798175.ff854","order":10,"width":5,"height":1,"passthru":true,"outs":"end","topic":"runTime","min":0,"max":"30","step":1,"x":320,"y":700,"wires":[["840e4d4b.6f24a"]]},{"id":"7fd331fe.406fb","type":"switch","z":"3ffed911.3c6796","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Save","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":560,"wires":[["de2d581b.1d3e78","f4701a90.9ddd18"]]},{"id":"de2d581b.1d3e78","type":"function","z":"3ffed911.3c6796","name":"SQL Update","func":"// Join node sends data as object\n//So to access value use msg.payload.\n// Take values and form sql to replace data\n\nvar sql = \"\";\nvar outputs = [];\nvar rowId = msg.payload.id;\nflow.set(\"myId\", rowId);    //Used get row record when updating display\nvar Station = Number(msg.payload.Stn);\nvar startH = Number(msg.payload.startHrs);\nvar startM = Number(msg.payload.startMins);\nvar tStartM = (startH*60)+(startM);\nvar runMin = Number(msg.payload.runTime);\nvar tOffM = tStartM + runMin;\nvar offH = parseInt(tOffM/60);\nvar offM = tOffM - (offH*60);\n\nsql = (\"UPDATE Data SET Stn = \"+Station+\", startHrs = \"+startH+\", startMins = \"+startM+\", totStartM = \"+tStartM+\", \"\n+\"runTime = \"+runMin+\", offHr = \"+offH+\", offMin = \"+offM+\", totOffM = \"+tOffM+\"\"\n+\" WHERE Data.id = \"+rowId+\"\");\n\n\noutputs.push({topic:sql}); \nreturn [outputs]; \n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":500,"wires":[["4c4714f7.1a37cc","561a3c1b.696614","54301be.8eea0e4"]]},{"id":"4c4714f7.1a37cc","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Update db","x":890,"y":500,"wires":[[]]},{"id":"7d42d7ff.b15858","type":"ui_numeric","z":"3ffed911.3c6796","name":"Station","label":"<font size=\"2\">Stn","tooltip":"","group":"72798175.ff854","order":5,"width":3,"height":1,"wrap":true,"passthru":true,"topic":"Stn","format":"<font size=\"2\"><font color=#00FF7F><b>{{value}}</b></font>","min":"1","max":"7","step":1,"x":430,"y":520,"wires":[["840e4d4b.6f24a"]]},{"id":"e8be2bec.233058","type":"trigger","z":"3ffed911.3c6796","name":"Reset to 0","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"500","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":340,"wires":[["17c7ab5b.356e95","7d42d7ff.b15858","8ab61fd.c03c7e","6a8f18af.b59208","bbad521c.fce2"]]},{"id":"e2743753.7a69a8","type":"comment","z":"3ffed911.3c6796","name":"Update Data","info":"Clicking on an item in the table list results in the msg.topic & value of the items in that row being sent to the split node, where they are converted into a CSV string of key:value pairs separated by the comma.\n\nThe switch node then checks for the \"Key/msg.topic\" and sends the appropriate value to ID, Station etc input nodes.\n\nThe Update button is connected to the join node, but appears to be activated when the next switch node receives its msg.topic \"save\" which triggers the values to be sent to the function node in the form of an object containing the key/value pairs.\n\nThe function node then extracts the values and creates the sql query which updates the data in row.\n\nTo avoid errors it is necessary to clear the data from the input nodes. This is achieved by a trigger node sending zeros to these nodes.\nAdditionally it triggers a function node to query the database and display all records, duly updated.\nThis forces a second click on a line item to update/refresh the input nodes. When not refreshed trying to update caused sql data errors.\n\n<font size=\"2\"><font color=#FFF8DC><b>{{msg.payload}}</b></font>","x":90,"y":300,"wires":[]},{"id":"2f02dec7.376752","type":"ui_text","z":"3ffed911.3c6796","group":"72798175.ff854","order":1,"width":16,"height":1,"name":"Instruction","label":"","format":"<font size=\"1\"><font color=#F5F5DC>Highlight row to be altered & amend with controls below.</font>","layout":"row-spread","x":90,"y":540,"wires":[]},{"id":"f4701a90.9ddd18","type":"function","z":"3ffed911.3c6796","name":"List by Day","func":"/*Form outputs data as array [id:value]\n  So to access value use msg.payload.id \n  This function takes id DayLong and creates list of all\n  records for the day.\n*/\n\nvar sql = \"\";\nvar outputs = [];\nmyDay = (msg.payload.DayLong);\n\n\nsql = \"SELECT DoW.DayLong,Data.id,Data.DoW,Data.Stn,Data.runTime,Data.startHrs,Data.startMins,Data.offHr,Data.offMin FROM Data\"\n+\" INNER JOIN DoW ON Data.DoW=DoW.DoW WHERE DoW.DayLong = ('\"+myDay+\"') ORDER BY Data.startHrs ASC, Data.startMins ASC\";\n\noutputs.push({topic:sql}); \nreturn [outputs];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":580,"wires":[["415aa406.e639ec"]]},{"id":"415aa406.e639ec","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Times sql","x":1060,"y":580,"wires":[["9c7a9b45.af8838"]]},{"id":"9c7a9b45.af8838","type":"function","z":"3ffed911.3c6796","name":"Seqencing","func":"/*msg.payload gives an array[x]\n    Compare the start time of record 2 with off time of previous record 1\n    If the start time < off time then record 2 timings need adjusting\n    to avoid more than 1 station being active at any time.\n    The data is fed to this function sorted by start times, start mins\n*/\n\n//Get variables\noutputs = [];\nvar my_array = [];\nvar sql = \"\";\nvar x = 0;  //row 1\nvar y = 1;  //row 2\nvar count = 0;\nitems_num = msg.payload.length;         //Gives us the number of recordsy_array = msg.payload;\n//row_Id = msg.payload[x].id;             //This will be first array object\nmyDay = (msg.payload[x].DayLong);\n//if (items_num > 1) {    //Check we have more than 1 record before running timings check\n\n//Loop through records in the array for items_num\nwhile (count < items_num-1) {\n\n//Create variables for comparisons & use if off time of record 1 > start time of record 2   \n    row_Id = msg.payload[y].id;           //2nd row as We will be the one to change\n    \n    //Off time in minutes from the previous row\n    endTime_1 = ((msg.payload[x].offHr)*60)+(msg.payload[x].offMin);\n    \n    //Start time of next row\n    startTime_2 = (((msg.payload[y].startHrs)*60)+(msg.payload[y].startMins));\n    \n    runMin = (msg.payload[y].runTime);    //Run time of next row needed to adjust hrs/min\n    overlap = (endTime_1-startTime_2);      //Calculate the overlap\n    \n   // Check if we have an overlap where start time of next record < off time of previous\n        \n    if (overlap >0) {\n        //Calculate new start for record 2 \"newStart\" in minutes\n        newStart = (startTime_2+overlap);     //New start time in minutes\n            \n        //Transform this into HH:MM \"startH\":\"startM\"\n        startH = parseInt(newStart/60);   //This will give us HH no remainder renainder\n        startM = (newStart-(startH*60));    // Gives minutes\n        \n        // Calculate new off HH:MM\n        newOff = newStart+runMin;           //Revised off time in minutes\n        offH = parseInt(newOff/60);\n        offM = newOff-(offH*60);\n            \n        //We now need to create the sql string to update the database        \n        sql = \"UPDATE Data SET startHrs = \"+startH+\", startMins = \"+startM+\",  offHr = \"+offH+\", offMin = \"+offM+\" WHERE Data.id = \"+row_Id+\"\";\n        //Push topic out to sqlite node to update the database\n         outputs.push({topic:sql}); \n         return [outputs];\n    }       \n    \n   \n    //OK so this works where we have an overlap. If no overlap we need to exit cleanly somehow? Use Else\n    //If no overlap send sql of records\n   /*     else {\n                sql = \"SELECT Data.id,Data.DoW,Data.Stn,Data.runTime,Data.startHrs,Data.startMins,Data.offHr,Data.offMin,DoW.DayLong,Stations.LocShort\"\n                +\" FROM Data INNER JOIN DoW ON Data.DoW=DoW.DoW INNER JOIN Stations ON Stations.Stn=Data.Stn WHERE DoW.DayLong = ('\"+myDay+\"')\"\n                +\" ORDER BY Data.startHrs ASC, Data.startMins ASC\"; \n            \n                //Push topic out to sqlite node to update the database\n                outputs.push({topic:sql}); \n                return [outputs];\n            }\n    */ \n    x = x+1;     //increment x variable\n    y = y+1;    //increment y variable\n    count++;    //increment count for while loop \n    }\n\n//msg.payload = sql;\n//return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":520,"wires":[["b6af8658.b8e398"]]},{"id":"b6af8658.b8e398","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Adj Times","x":1180,"y":460,"wires":[[]]},{"id":"60b62378.38b54c","type":"comment","z":"3ffed911.3c6796","name":"Check for Overlaps","info":"This flow checks that their are no overlapping timings and adjusts accordingly to ensure their can only be one sation on at any time.\n\nIt can be run after any update of run times for the specified day.\n\nAfter running it will refresh the retic table for the relevant day.\n\nThe database needs to be updated before the adjust times routine is run (Complete 1)\n\nRun display update after adjust times routine ","x":950,"y":640,"wires":[]},{"id":"4c584dd5.85d1b4","type":"complete","z":"3ffed911.3c6796","name":"After Update Db","scope":["4c4714f7.1a37cc"],"uncaught":false,"x":740,"y":640,"wires":[["f4701a90.9ddd18"]]},{"id":"4ecfecdb.f66014","type":"ui_template","z":"3ffed911.3c6796","group":"72798175.ff854","name":"CSS_Actions","order":4,"width":2,"height":1,"format":"<head>  \n<style>\nbody {background-color: lightblue;}\nh3 {font-family; \"Times New Roman\", Times, serif; color: Moccasin; font-size: 18px; text-align: centre;text-decoration: underline;}\nh4 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 15px; text-align: centre;text-decoration: underline;}\nh5 {font-family; \"Times New Roman\", Times, serif; color: #F0F8FF; font-size: 15px; text-align: centre;text-decoration: underline;} \nh6 {font-family; \"Times New Roman\", Times, serif; color: #F0F8FF; font-size: 15px; text-align: centre;} \n\n\n#rBut1 {font-family; \"Times New Roman\", Times, serif; color: LightBlue; font-size: 17px; text-align: centre;} \n#rBut2 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 17px; text-align: centre;} \n#hhmm1 {font-family; \"Times New Roman\", Times, serif; color: LawnGreen; font-size: 15px; text-align: centre;} \n\n/*   This is the normal button definition  */\n    .remote-button{\n        background-color: blue !important;\n        color: #cccccc !important;\n        height: 30px;\n        width: 40%;\n        border-radius: 10px;\n        font-size:.65em;\n        font-weight:normal;\n        margin: 0;\n        min-height: 26px;\n        min-width: unset;\n        line-height: unset;\n    }\n\n/*This is definition for station buttons */\n    .md-button {\n    border-radius: 20%;\n}\n\n/* This is definition of submit/reset buttons */\n\ninput[type = submit], input[type = reset] {\n            background-color: orange;\n            border: none;\n            text-decoration: none;\n            color: white;\n            padding: 10px 10px;\n            margin: 10px 10px;\n            cursor: pointer;\n         }\n\ninput[type=number] {\nfont-size: 15px;\n}\n\n#nr-dashboard-widget-{ID} {\n color: blue;   \n}\n\n\n/* Table Formatting*/\n  .tabulator{padding-left:2px;border:0px solid #BBB;background-color:#202529;font-size:15px}\n\n/* Header Formatting */\n  .tabulator .tabulator-header{border-bottom:1px solid #BBB;background-color:#202529}\n  .tabulator-col-content{background-color:#202529;height:37px}\n  .tabulator .tabulator-header .tabulator-col{border-right:0px solid #aaa;background-color:#202529}\n  .tabulator-arrow{visibility: collapse;} \n  .tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {padding-right: 2px;}\n\n/* Items Formatting*/\n   .tabulator-row{min-height:31px;background-color:#708098}\n  .tabulator-row:nth-child(2n){background-color:#696969}\n  //.tabulator-row{min-height:31px;background-color:#181c1f}\n  //.tabulator-row:nth-child(2n){background-color:#202529}\n  .tabulator-row .tabulator-cell{border-right:0px solid #888; padding-top: 4px;}\n  \n</style>\n</head>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":580,"wires":[[]]},{"id":"561a3c1b.696614","type":"delay","z":"3ffed911.3c6796","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":570,"y":420,"wires":[["e8be2bec.233058"]]},{"id":"45600f6c.d1ee78","type":"link in","z":"3ffed911.3c6796","name":"","links":["3ca343d0.f64604"],"x":335,"y":80,"wires":[["526d9ced.bc71d4"]]},{"id":"526d9ced.bc71d4","type":"delay","z":"3ffed911.3c6796","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":460,"y":80,"wires":[["57601ef0.19b67"]]},{"id":"54e121f4.93d5","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"fixed","sql":"SELECT Stn, LocShort FROM Stations ORDER BY Stn LIMIT 7","name":"Stn_Array","x":260,"y":180,"wires":[["185e2d00.40f2d3"]]},{"id":"185e2d00.40f2d3","type":"ui_template","z":"3ffed911.3c6796","group":"154d1ba5.8000d4","name":"RB_Stn","order":8,"width":5,"height":6,"format":"<!--\nmsg.payload is an array of Stn & LocShort from Stations table\nng-repeat populates a radio button list with Stn & LocShort\nng-click sends as msg.payload Stn number myStn.Stn\n-->\n<body>\n<form>\n    <h4>  Retic Stations</h4>   \n<div style=\"margin:0 0 0 10px\" id=\"rBut2\">\n            <li ng-repeat=\"myStn in msg.payload | orderBy:'Stn'\"\n                style=\"list-style-type: none;\">\n                <label>\n                    <input type=\"radio\" name=\"data\" ng-click =\"send({payload:(myStn.Stn)})\"/>  {{myStn.Stn}} - {{myStn.LocShort}}\n                </label>\n        </li>\n   </div>\n</form>\n</body>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":420,"y":180,"wires":[["3388156e.8c031a"]]},{"id":"44a7c810.ed1eb8","type":"inject","z":"3ffed911.3c6796","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":160,"wires":[["54e121f4.93d5","f3c8ed03.1e698","a42fde51.f56f2"]]},{"id":"e0d3b520.125138","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"SELECT Stn, LocShort FROM Stations WHERE Stn =\"+msg.payload[0]+\"ORDER BY Stn LIMIT 7","name":"List_By_Stn","x":730,"y":180,"wires":[["26a25179.8af6de"]]},{"id":"3388156e.8c031a","type":"function","z":"3ffed911.3c6796","name":"Sql","func":"\n//Form outputs data as array [id:value]\n//So to access value use msg.payload.id\n\nvar sql = \"\";\nvar outputs = [];\nvar Stn1 = Number(msg.payload);\nglobal.set(\"Stn2\",Number(msg.payload));\n\nsql = \"SELECT Data.id,DoW.DayLong,Stations.Stn,Stations.LocShort,Data.startHrs,Data.startMins,Data.runTime,Data.offHr,Data.offMin FROM Data INNER JOIN Stations ON Stations.Stn=Data.Stn INNER JOIN DoW ON Data.DoW=DoW.DoW WHERE Data.Stn =\"+Stn1+\" ORDER BY DoW.DoW ASC\";\n\noutputs.push({topic:sql}); \nreturn [outputs];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":180,"wires":[["e0d3b520.125138"]]},{"id":"233ca84.c334b58","type":"ui_template","z":"3ffed911.3c6796","group":"154d1ba5.8000d4","name":"RB_DoW","order":1,"width":5,"height":6,"format":"<!--\nmsg.payload is an array of Stn & LocShort from Stations table\nng-repeat populates a radio button list with Stn & LocShort\nng-click sends as msg.payload Stn number myStn.Stn\n-->\n<body>\n<form>\n    <h3>List Retic Data</h3>\n    <h4> Day of Week </h4>   \n<div style=\"margin:0 0 0 10px\" id=\"rBut1\">\n           <li ng-repeat=\"myDoW in msg.payload | orderBy:'DoW'\"\n                style=\"list-style-type: none;\">\n                <label>\n                    <input type=\"radio\" name=\"data\" ng-click =\"send({payload:(myDoW.DoW)})\"/>  {{myDoW.DoW}} - {{myDoW.DayLong}}\n                </label>\n        </li>\n    </div>\n</form>\n</body>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":420,"y":120,"wires":[["57601ef0.19b67"]]},{"id":"53acffea.b3a3b","type":"comment","z":"3ffed911.3c6796","name":"Redisplay","info":"After database has been updated we need to redisplay\nWe need to display for the day relevany to the update\nWe have the data.Id\nSo get DoW for the id\nThen run sql on DoW and display","x":840,"y":280,"wires":[]},{"id":"34f0fbc.f9cfb04","type":"function","z":"3ffed911.3c6796","name":"Sql","func":"//This sql fetches all records for DoW\nvar sql = \"\";\nvar outputs = [];\nvar dowId = (msg.payload[0].DoW);\n\nsql = \"SELECT Data.id,DoW.DayLong,Stations.Stn,Stations.LocShort,Data.runTime,Data.startHrs,Data.startMins,Data.offHr,Data.offMin FROM Data\"\n+\" INNER JOIN Stations ON Stations.Stn=Data.Stn INNER JOIN DoW ON Data.DoW=DoW.DoW\"\n+\" WHERE Data.DoW =\"+dowId+\" ORDER BY Data.startHrs ASC, Data.startMins ASC\";\n\noutputs.push({topic:sql}); \nreturn [outputs];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":280,"wires":[["16d706ed.4197f9"]]},{"id":"54301be.8eea0e4","type":"function","z":"3ffed911.3c6796","name":"Sql","func":"//This sql returns the DoW of the record updated\nvar sql = \"\";\nvar outputs = [];\nvar recId = flow.get(\"myId\");\n\nsql = \"SELECT Data.DoW FROM Data\"\n+\" INNER JOIN DoW ON Data.DoW=DoW.DoW\"\n+\" WHERE Data.id =\"+recId+\"\";\n\noutputs.push({topic:sql}); \nreturn [outputs];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":380,"wires":[["85eb6123.03d9c"]]},{"id":"85eb6123.03d9c","type":"sqlite","z":"3ffed911.3c6796","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Get DoW","x":720,"y":320,"wires":[["34f0fbc.f9cfb04"]]},{"id":"d232ed8b.95ff8","type":"complete","z":"3ffed911.3c6796","name":"After Adj Times","scope":["b6af8658.b8e398"],"uncaught":false,"x":820,"y":440,"wires":[["54301be.8eea0e4"]]},{"id":"d315da8d.813f68","type":"simpletime","z":"10e13703.c53099","name":"Timer","x":250,"y":200,"wires":[["1e819314.c9458d","ce285fd1.a45c8","65b39c7a.0e9924","aed3ef0b.509e8"]],"outputLabels":["{{msg.myday}}"]},{"id":"55d7c2cc.1566cc","type":"inject","z":"10e13703.c53099","name":"Auto timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["d315da8d.813f68"]]},{"id":"1e819314.c9458d","type":"change","z":"10e13703.c53099","name":"Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"mydate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["d0523ec0.ecba7"]]},{"id":"d0523ec0.ecba7","type":"function","z":"10e13703.c53099","name":"Stn On sql","func":"/*\nSimpletimer outputs myhour & myminute as number otherwise strings\nChecks current day and time against database\nReturns row containing station number if finds match\nIf auto is off by make totalmin = 0\nThen sql will not return a station time\n\n*/\n\nsql = \"\";\noutputs = [];\nvar nowday = msg.myday;     //This is a string\nvar nowhour = (msg.myhour);\nvar nowmin = msg.myminute;\nvar totalmin = (nowhour*60)+nowmin;\nvar onOff = flow.get(\"switch\");\n\nif (onOff == false) {totalmin = 0;}\n\n//Create sql to check if station on nowday between \n//Where 1   DoW.DayShort = nowday (string use '\"+string+\"') in sql string\n//Where 2   Station start >= totalmin (number use \"+value+\") in sql string\n//Where 3   Station off <= totalmin\n//Return needs to be the stations.id\n\nsql = \"SELECT Data.id,DoW.DayShort,Data.Stn,Data.startHrs,Data.startMins,Data.totStartM,Data.runTime,Data.offHr,Data.offMin,Data.totOffM FROM Data\"\n+\" INNER JOIN Stations ON Stations.Stn=Data.Stn INNER JOIN DoW ON Data.DoW=DoW.DoW\"\n+\" WHERE DoW.DayShort =('\"+nowday+\"') AND Data.totStartM <= (\"+totalmin+\") AND Data.totOffM > (\"+totalmin+\")\";\n\noutputs.push({topic:sql}); \nreturn [outputs];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[["519e18b0.d08058"]]},{"id":"519e18b0.d08058","type":"sqlite","z":"10e13703.c53099","mydb":"4a607b6a.a14e74","sqlquery":"msg.topic","sql":"","name":"Stn On sql","x":450,"y":300,"wires":[["c80f837d.4d103"]],"info":"This returns an array of objects\nThere should only be one object\nIf greater than 1 then we have a station overlap"},{"id":"488aa4ca.addd6c","type":"comment","z":"10e13703.c53099","name":"Automatic","info":"Inject timestamp \nTimer gves us date + short day, current HH & MM\nFunction creates sql to check day start time & off time against database\nFunction passes sql to give record of an \"ON\" station\nNow in Min function calculates current time of day in minutes and saves as global variable myMinutes\nmyMinutes passed to Stn_On_sql function to determine if there is a stn on time to be triggered\nIf auto set to off totalmin = 0 and sql returns no record","x":80,"y":160,"wires":[]},{"id":"acf5479a.94e998","type":"function","z":"10e13703.c53099","name":"Now in Min","func":"//Used as means of recording now time in context\n\nvar nowhour = (msg.myhour);\nvar nowmin = msg.myminute;\nvar totalmin = (nowhour*60)+nowmin;\nvar myMinute = context.get('myMinute' || 0);\nglobal.set(\"myMinute\",totalmin);  //Gives a flow context variable of now minute for time remaining calcs\n\nmsg.payload = totalmin;\nmsg.topic = \"totalmin\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":260,"wires":[[]]},{"id":"d0d38b47.4b2368","type":"rpi-gpio out","z":"10e13703.c53099","name":"Stn_1","pin":"6","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1070,"y":360,"wires":[]},{"id":"b6e3700.052e99","type":"switch","z":"10e13703.c53099","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Stn","vt":"str"},{"t":"cont","v":"Stn","vt":"str"},{"t":"cont","v":"Stn","vt":"str"},{"t":"cont","v":"Stn","vt":"str"},{"t":"cont","v":"Stn","vt":"str"},{"t":"cont","v":"Stn","vt":"str"},{"t":"cont","v":"Stn","vt":"str"},{"t":"cont","v":"Stn","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":570,"y":480,"wires":[["a5b94e75.4e6ee"],["1af26bc4.1ab644"],["d15ee2e6.cd69a"],["49f0eafe.a084d4"],["a1b47cca.8f5ae"],["a8e489be.0219e8"],["39956df8.239c42"],["12c7b3a5.d1f30c"]]},{"id":"fdf3b249.979","type":"rpi-gpio out","z":"10e13703.c53099","name":"Stn_2","pin":"12","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1070,"y":420,"wires":[]},{"id":"4bbc1132.9227e","type":"rpi-gpio out","z":"10e13703.c53099","name":"Pump","pin":"5","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1070,"y":300,"wires":[]},{"id":"fe603005.79e9d","type":"rpi-gpio out","z":"10e13703.c53099","name":"Stn_3","pin":"13","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1070,"y":480,"wires":[]},{"id":"cc8faee5.da875","type":"rpi-gpio out","z":"10e13703.c53099","name":"Stn_4","pin":"19","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1070,"y":540,"wires":[]},{"id":"f3e37c98.141e","type":"rpi-gpio out","z":"10e13703.c53099","name":"Stn_5","pin":"16","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1070,"y":600,"wires":[]},{"id":"6dc6c3e6.f5479c","type":"rpi-gpio out","z":"10e13703.c53099","name":"Stn_6","pin":"26","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1070,"y":660,"wires":[]},{"id":"6ac7758e.cf5efc","type":"rpi-gpio out","z":"10e13703.c53099","name":"Stn_7","pin":"20","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1070,"y":720,"wires":[]},{"id":"c80f837d.4d103","type":"function","z":"10e13703.c53099","name":"Auto Stn Array","func":"/*\nThe sql will return a station number which needs to be activated\nIf Manual run time has been actioned this \"auto\" timer needs to be suspended\nNeed to turn only 1 station on if Stn = 1 then 2-7 off etc + pump on\nBy passing an array[8] containing 1 for on and 0 for off and passing topic with \"A\" or \"M\"\nWe trigger a toggle switch to in turn trigger pi output GPIO\nFirst switch allows bypass if no Station number sent\n*/\n//Check if manual operation in progress viz (auto = 0)\n\nvar auto = flow.get(\"auto\");\nif (auto == true) {                //Auto ON run routine\n\n    items_num = msg.payload.length;                 //Check to see if a record returned\n        if (items_num ==1)  {                       //We have a row from the database proceed further\n            \n            //flow.set(\"auto\",1);                     //Set auto to ON\n            var AutoStn = [];\n            \n            myStn = msg.payload[0].Stn;             //We get the station number\n            stnRunTime = msg.payload[0].runTime;    //Value from database\n            stnOffTime = msg.payload[0].totOffM;    //Off time in minutes\n            \n            myMinute = global.get(\"myMinute\");      //Current minute\n            timeLeft = stnOffTime-(myMinute);\n            \n            flow.set(\"remTime\",timeLeft);\n            flow.set(\"stnTxt\",\"Stn: \"+myStn+\" To run < \"+timeLeft+ \" min\");               //Set the station variable used by text box             \n            \n            //flow.set(\"myMinute\",myMinute);\n   \n                switch (myStn) {\n            \n                    case 0:\n                        AutoStn = [0,0,0,0,0,0,0,0];\n                        break;\n        \n                    case 1:\n                        AutoStn = [1,1,0,0,0,0,0,0];\n                        break;\n            \n                    case 2:\n                        AutoStn = [1,0,1,0,0,0,0,0];\n                        break;\n                \n                    case 3:\n                        AutoStn = [1,0,0,1,0,0,0,0];\n                        break;\n            \n                    case 4:\n                        AutoStn = [1,0,0,0,1,0,0,0];\n                        break;\n            \n                    case 5:\n                        AutoStn = [1,0,0,0,0,1,0,0];\n                        break;\n                \n                    case 6:\n                        AutoStn = [1,0,0,0,0,0,1,0];\n                        break;\n                \n                    case 7:\n                        AutoStn = [1,0,0,0,0,0,0,1];\n                        break;\n                    }\n                \n                msg.payload = AutoStn;\n                msg.topic = \"A-Stn_\" + myStn;\n                return msg;\n             }\n\n//If no record then set all stations to OFF \n               \n            AutoStn = [0,0,0,0,0,0,0,0]; //All off\n            stnTxt = 0;\n            //flow.set(\"stnTxt\",myStn); \n            //flow.set(\"auto\",1);         // Auto set to On\n            msg.payload = AutoStn;\n            msg.topic = \"A_Stn_None\";\n            return msg;\n}  \n      \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":360,"wires":[["b6e3700.052e99"]]},{"id":"1af26bc4.1ab644","type":"function","z":"10e13703.c53099","name":"Stn 1 On/Off","func":"myNum = msg.payload[1];\nmsg.payload = myNum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":380,"wires":[["3f7e75f7.3f06aa"]]},{"id":"a5b94e75.4e6ee","type":"function","z":"10e13703.c53099","name":"Pump On/Off","func":"myNum = msg.payload[0];\nmsg.payload = myNum;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":340,"wires":[["81504e9f.7fedd","75601db2.256954"]]},{"id":"d15ee2e6.cd69a","type":"function","z":"10e13703.c53099","name":"Stn 2 On/Off","func":"myNum = msg.payload[2];\nmsg.payload = myNum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":420,"wires":[["2452167b.31b7fa"]]},{"id":"49f0eafe.a084d4","type":"function","z":"10e13703.c53099","name":"Stn 3 On/Off","func":"myNum = msg.payload[3];\nmsg.payload = myNum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":460,"wires":[["e8ba0c38.d0482"]]},{"id":"a1b47cca.8f5ae","type":"function","z":"10e13703.c53099","name":"Stn 4 On/Off","func":"myNum = msg.payload[4];\nmsg.payload = myNum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":500,"wires":[["cd62c434.c25c58"]]},{"id":"a8e489be.0219e8","type":"function","z":"10e13703.c53099","name":"Stn 5 On/Off","func":"myNum = msg.payload[5];\nmsg.payload = myNum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":540,"wires":[["ed2cd537.da3408"]]},{"id":"39956df8.239c42","type":"function","z":"10e13703.c53099","name":"Stn 6 On/Off","func":"myNum = msg.payload[6];\nmsg.payload = myNum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":580,"wires":[["5ba6d4fd.07c37c"]]},{"id":"12c7b3a5.d1f30c","type":"function","z":"10e13703.c53099","name":"Stn 7 On/Off","func":"myNum = msg.payload[7];\nmsg.payload = myNum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":620,"wires":[["4fca5c70.ef7a54"]]},{"id":"81504e9f.7fedd","type":"toggle","z":"10e13703.c53099","name":"","onOffTopic":"","onValue":"1","onType":"num","offValue":"0","offType":"num","toggleTopic":"","toggleValue":"","toggleType":"num","passOnOff":"ifChanged","x":930,"y":300,"wires":[["4bbc1132.9227e"]]},{"id":"3f7e75f7.3f06aa","type":"toggle","z":"10e13703.c53099","name":"","onOffTopic":"","onValue":"1","onType":"num","offValue":"0","offType":"num","toggleTopic":"","toggleValue":"","toggleType":"str","passOnOff":"ifChanged","x":930,"y":360,"wires":[["d0d38b47.4b2368"]]},{"id":"2452167b.31b7fa","type":"toggle","z":"10e13703.c53099","name":"","onOffTopic":"","onValue":"1","onType":"num","offValue":"0","offType":"num","toggleTopic":"","toggleValue":"","toggleType":"str","passOnOff":"ifChanged","x":930,"y":420,"wires":[["fdf3b249.979"]]},{"id":"e8ba0c38.d0482","type":"toggle","z":"10e13703.c53099","name":"","onOffTopic":"","onValue":"1","onType":"num","offValue":"0","offType":"num","toggleTopic":"","toggleValue":"","toggleType":"str","passOnOff":"ifChanged","x":930,"y":480,"wires":[["fe603005.79e9d"]]},{"id":"cd62c434.c25c58","type":"toggle","z":"10e13703.c53099","name":"","onOffTopic":"","onValue":"1","onType":"num","offValue":"0","offType":"num","toggleTopic":"","toggleValue":"","toggleType":"str","passOnOff":"ifChanged","x":930,"y":540,"wires":[["cc8faee5.da875"]]},{"id":"ed2cd537.da3408","type":"toggle","z":"10e13703.c53099","name":"","onOffTopic":"","onValue":"1","onType":"num","offValue":"0","offType":"num","toggleTopic":"","toggleValue":"","toggleType":"str","passOnOff":"ifChanged","x":930,"y":600,"wires":[["f3e37c98.141e"]]},{"id":"5ba6d4fd.07c37c","type":"toggle","z":"10e13703.c53099","name":"","onOffTopic":"","onValue":"1","onType":"num","offValue":"0","offType":"num","toggleTopic":"","toggleValue":"","toggleType":"str","passOnOff":"ifChanged","x":930,"y":660,"wires":[["6dc6c3e6.f5479c"]]},{"id":"4fca5c70.ef7a54","type":"toggle","z":"10e13703.c53099","name":"","onOffTopic":"","onValue":"1","onType":"num","offValue":"0","offType":"num","toggleTopic":"","toggleValue":"","toggleType":"str","passOnOff":"ifChanged","x":930,"y":720,"wires":[["6ac7758e.cf5efc"]]},{"id":"ce285fd1.a45c8","type":"change","z":"10e13703.c53099","name":"Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"mydate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["42a4710aec100fe0"]]},{"id":"75601db2.256954","type":"function","z":"10e13703.c53099","name":"Retic Running: ","func":"/*\nGet current values for Station & remaining run time\nDisplay as string in text box\n*/\nvar onStn = flow.get(\"stnTxt\");\nvar timeLeft = flow.get(\"remTime\");\n\n//Check we have a station running\n    if(msg.payload ==1)    {\n    msg.payload = (onStn);\n    }\n    else {\n    msg.payload =\" All Off\"\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["48a1ed64.339314"]]},{"id":"48a1ed64.339314","type":"ui_text","z":"10e13703.c53099","group":"cf75b7ed.3b4228","order":6,"width":7,"height":1,"name":"Stn_Display","label":"<h3>Status:  </h3> ","format":"<h4>{{msg.payload}}</h4>","layout":"row-center","x":890,"y":240,"wires":[]},{"id":"65b39c7a.0e9924","type":"change","z":"10e13703.c53099","name":"hh:mm","rules":[{"t":"set","p":"payload","pt":"msg","to":"mytime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":90,"y":260,"wires":[["acf5479a.94e998"]]},{"id":"79c514cb.a436ec","type":"function","z":"10e13703.c53099","name":"Man Stn array","func":"\nvar ManStn = [];    //Define array\nvar Station = msg.payload;       //Value passed by Buttons\nvar stnTxt = flow.set(\"stnTxt\",\"Manual \"+Station+ \" On\");    //Used by Status box\n\n//Turn auto off\nvar auto = flow.set(\"auto\",false);  //Turn auto off\n\n//Create an array ManStn for station actioned\nswitch (Station) {\n            \n            case 0:\n                ManStn = [0,0,0,0,0,0,0,0];\n                break;\n        \n            case 1:\n                ManStn = [1,1,0,0,0,0,0,0];\n                break;\n            \n            case 2:\n                ManStn = [1,0,1,0,0,0,0,0];\n                break;\n                \n            case 3:\n                ManStn = [1,0,0,1,0,0,0,0];\n                break;\n            \n            case 4:\n                ManStn = [1,0,0,0,1,0,0,0];\n                break;\n            \n            case 5:\n                ManStn = [1,0,0,0,0,1,0,0];\n                break;\n                \n            case 6:\n                ManStn = [1,0,0,0,0,0,1,0];\n                break;\n                \n            case 7:\n                ManStn = [1,0,0,0,0,0,0,1];\n                break;\n            }\n\n            msg.payload = ManStn;\n            msg.topic = \"M-Stn_\" + Station;\n            return msg;\n            \n\n\n        \n       \n\n\n     \n         \n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":420,"wires":[["64e23864.ad3af8"]]},{"id":"b854a83f.5f5038","type":"ui_countdown_timer_switch","z":"10e13703.c53099","name":"Counter","label":"<h4>For Minutes</h4>","group":"cf75b7ed.3b4228","order":15,"width":7,"height":1,"countdowns":["2","4","6","8","10"],"onvalue":"1","onvalueType":"num","offvalue":"stop","offvalueType":"str","topic":"timer","showDropdown":false,"x":220,"y":580,"wires":[["64e23864.ad3af8"]]},{"id":"25e6ab29.ab0994","type":"ui_button","z":"10e13703.c53099","name":"1","group":"cf75b7ed.3b4228","order":8,"width":1,"height":1,"passthru":false,"label":"<font color=#F0F8FF>1</font color>","tooltip":"Click to choose","color":"","bgcolor":"#0000FF","icon":"fa-tint ","payload":"1","payloadType":"num","topic":"","x":70,"y":340,"wires":[["79c514cb.a436ec"]]},{"id":"64e23864.ad3af8","type":"looptimer2","z":"10e13703.c53099","duration":"30","units":"Second","maxloops":"50","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":300,"y":480,"wires":[["b6e3700.052e99"],["b8fd39b.d3ecac8"]]},{"id":"b8fd39b.d3ecac8","type":"function","z":"10e13703.c53099","name":"","func":"var ManStn = [];    //Define array\nvar onOff = msg.payload;\nvar auto = flow.set(\"auto\",true);\n\nif (onOff == \"stopped\") {\n    ManStn = [0,0,0,0,0,0,0,0];\n    msg.payload = ManStn;\n    msg.topic = \"Stn\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["b6e3700.052e99"]]},{"id":"769641b0.b6682","type":"ui_button","z":"10e13703.c53099","name":"2","group":"cf75b7ed.3b4228","order":9,"width":1,"height":1,"passthru":false,"label":"<font color=#F0F8FF>2</font color>","tooltip":"Click to choose","color":"","bgcolor":"#0000FF","icon":"fa-tint","payload":"2","payloadType":"num","topic":"M2","x":70,"y":380,"wires":[["79c514cb.a436ec"]]},{"id":"841cf35d.e3d4d","type":"ui_button","z":"10e13703.c53099","name":"3","group":"cf75b7ed.3b4228","order":10,"width":1,"height":1,"passthru":false,"label":"<font color=#F0F8FF>3</font color>","tooltip":"Click to choose","color":"","bgcolor":"#0000FF","icon":"fa-tint","payload":"3","payloadType":"num","topic":"M3","x":70,"y":420,"wires":[["79c514cb.a436ec"]]},{"id":"34a2b3bc.a870cc","type":"ui_button","z":"10e13703.c53099","name":"4","group":"cf75b7ed.3b4228","order":11,"width":1,"height":1,"passthru":false,"label":"<font color=#F0F8FF>4</font color>","tooltip":"Click to choose","color":"","bgcolor":"#0000FF","icon":"fa-tint","payload":"4","payloadType":"num","topic":"M4","x":70,"y":460,"wires":[["79c514cb.a436ec"]]},{"id":"28e53048.6fa19","type":"ui_button","z":"10e13703.c53099","name":"5","group":"cf75b7ed.3b4228","order":12,"width":1,"height":1,"passthru":false,"label":"<font color=#F0F8FF>5</font color>","tooltip":"Click to choose","color":"","bgcolor":"#0000FF","icon":"fa-tint","payload":"5","payloadType":"num","topic":"M5","x":70,"y":500,"wires":[["79c514cb.a436ec"]]},{"id":"c2b650a6.680e3","type":"ui_button","z":"10e13703.c53099","name":"6","group":"cf75b7ed.3b4228","order":13,"width":1,"height":1,"passthru":false,"label":"<font color=#F0F8FF>6</font color>","tooltip":"Click to choose","color":"","bgcolor":"#0000FF","icon":"fa-tint","payload":"6","payloadType":"num","topic":"M6","x":70,"y":540,"wires":[["79c514cb.a436ec"]]},{"id":"f4fc3f2d.c5e51","type":"ui_button","z":"10e13703.c53099","name":"7","group":"cf75b7ed.3b4228","order":14,"width":1,"height":1,"passthru":false,"label":"<font color=#F0F8FF>7</font color>","tooltip":"Click to choose","color":"","bgcolor":"#0000FF","icon":"fa-tint","payload":"7","payloadType":"num","topic":"M7","x":70,"y":580,"wires":[["79c514cb.a436ec"]]},{"id":"b50ddf27.7f4cb","type":"ui_text","z":"10e13703.c53099","group":"cf75b7ed.3b4228","order":7,"width":7,"height":1,"name":"Stn Btn Txt","label":"<h3>Manual Operation:</h3> ","format":"<h3>{{msg.payload}}</h3>","layout":"row-center","x":230,"y":300,"wires":[]},{"id":"aed3ef0b.509e8","type":"change","z":"10e13703.c53099","name":"hh:mm:ss","rules":[{"t":"set","p":"payload","pt":"msg","to":"mytimes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[["ed5d3f919fba7950"]]},{"id":"c2a5bdaf.9df7f","type":"comment","z":"10e13703.c53099","name":"Manual","info":"For manual operation:\nButton press sends number 1 - 7 to function\nFunction matches number by case to an array viz\n[0000000]= All off\n[1100000] = Solenoids 1 & 2 on others off etc\n[1000001] = Solenoids 1 & 7 on\n\nCounter enables time to be entered\nMonitored every 30 secs\nAt end of period sends \"stopped\" to function\nFunction in turn sends [0000000] All off to switch","x":70,"y":640,"wires":[]},{"id":"cc6ab87.8663f48","type":"ui_switch","z":"10e13703.c53099","name":"","label":"Auto Off/On","tooltip":"","group":"cf75b7ed.3b4228","order":3,"width":5,"height":1,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":60,"wires":[["1f363b86.729674","d249c5ac.9b45b8"]]},{"id":"1f363b86.729674","type":"ui_led","z":"10e13703.c53099","order":4,"group":"cf75b7ed.3b4228","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":270,"y":20,"wires":[]},{"id":"ca5f860b.06c598","type":"change","z":"10e13703.c53099","name":"Set switch false","rules":[{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[[]]},{"id":"d249c5ac.9b45b8","type":"switch","z":"10e13703.c53099","name":"Output On/Off","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":60,"wires":[["a6cf52e1.48224"],["ca5f860b.06c598"]]},{"id":"a6cf52e1.48224","type":"change","z":"10e13703.c53099","name":"Set switch true","rules":[{"t":"set","p":"switch","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":40,"wires":[[]]},{"id":"1ef77617.a9b35a","type":"comment","z":"10e13703.c53099","name":"Auto On/Off","info":"Master switch to turn automatic timings off\nManual operation unaffected","x":110,"y":20,"wires":[]},{"id":"42a4710aec100fe0","type":"ui_text","z":"10e13703.c53099","group":"cf75b7ed.3b4228","order":1,"width":5,"height":1,"name":"Date","label":"","format":"<h4>{{msg.payload}}</h4>","layout":"row-left","x":535,"y":140,"wires":[],"l":false},{"id":"ed5d3f919fba7950","type":"ui_text","z":"10e13703.c53099","group":"cf75b7ed.3b4228","order":2,"width":2,"height":1,"name":"Time","label":"","format":"<h4>{{msg.payload}}</h4>","layout":"row-left","x":535,"y":180,"wires":[],"l":false},{"id":"26c70109.39a70e","type":"ui_switch","z":"7a35d872.17d8d8","name":"","label":"Timer Off/On","tooltip":"","group":"b853047a.cf5318","order":1,"width":6,"height":1,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":80,"wires":[["b2174dcc.3fe94","a9a07215.120c"]]},{"id":"f451dbff.2559c8","type":"function","z":"7a35d872.17d8d8","name":"Gate","func":"if (msg.payload === \"soundOn\")node.send({ui_control:{onicon:\"volume_up\",oncolor:\"blue\"},payload:true});\nif (msg.payload === \"soundOff\")node.send({ui_control:{officon:\"volume_off\",offcolor:\"black\"},payload:false});\n\nif (msg.payload === \"lightbulbOn\")node.send({ui_control:{onicon:\"fa-3x fa-lightbulb-o\",oncolor:\"#e6d00b\"},label:\"on\",payload:true});\nif (msg.payload === \"lightbulbOff\")node.send({ui_control:{officon:\"fa-2x fa-lightbulb-o\",offcolor:\"grey\"},label:\"off\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":580,"wires":[["edb5bc.0dedba48"]]},{"id":"7c998c1e.5c4724","type":"comment","z":"7a35d872.17d8d8","name":"========== SWITCH : change icone, icon color, size icon (for Font Awesome icon) ==========","info":"","x":350,"y":760,"wires":[]},{"id":"7cd061e8.b4148","type":"inject","z":"7a35d872.17d8d8","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":530,"y":480,"wires":[["edb5bc.0dedba48"]]},{"id":"2a23d055.aa576","type":"inject","z":"7a35d872.17d8d8","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":550,"y":530,"wires":[["edb5bc.0dedba48"]]},{"id":"35df9cc7.222c74","type":"inject","z":"7a35d872.17d8d8","name":"soundOn","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"soundOn","payloadType":"str","x":380,"y":530,"wires":[["f451dbff.2559c8"]]},{"id":"91b3131d.0cede","type":"inject","z":"7a35d872.17d8d8","name":"soundOff","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"soundOff","payloadType":"str","x":380,"y":560,"wires":[["f451dbff.2559c8"]]},{"id":"18a0c148.d28a0f","type":"inject","z":"7a35d872.17d8d8","name":"lightbulbOn","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lightbulbOn","payloadType":"str","x":390,"y":610,"wires":[["f451dbff.2559c8"]]},{"id":"4bfa0776.c35e28","type":"comment","z":"7a35d872.17d8d8","name":"Angular materials icon : Animated","info":"","x":150,"y":550,"wires":[]},{"id":"96e9358b.d0cac8","type":"comment","z":"7a35d872.17d8d8","name":"Font Awesome icon : Not Animated","info":"","x":160,"y":630,"wires":[]},{"id":"8e6598a7.5f2448","type":"inject","z":"7a35d872.17d8d8","name":"lightbulbOff","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lightbulbOff","payloadType":"str","x":390,"y":640,"wires":[["f451dbff.2559c8"]]},{"id":"25ea2f41.b3be8","type":"debug","z":"7a35d872.17d8d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":910,"y":560,"wires":[]},{"id":"edb5bc.0dedba48","type":"ui_switch","z":"7a35d872.17d8d8","name":"","label":"{{msg.label}}","tooltip":"","group":"7dbbcced.b28924","order":3,"width":8,"height":3,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","x":730,"y":560,"wires":[["25ea2f41.b3be8"]]},{"id":"7c2d329a.48e73c","type":"debug","z":"7a35d872.17d8d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"b2174dcc.3fe94","type":"ui_led","z":"7a35d872.17d8d8","order":2,"group":"b853047a.cf5318","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":330,"y":40,"wires":[]},{"id":"4f2d1972.379178","type":"change","z":"7a35d872.17d8d8","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[[]]},{"id":"d155a4db.542898","type":"bigtimer","z":"7a35d872.17d8d8","d":true,"outtopic":"","outpayload1":"On","outpayload2":"Off","name":"Big Timer","comment":"","lat":"53","lon":"18","starttime":5001,"endtime":1425,"startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":120,"y":340,"wires":[["33b5d5e2.f8ee8a"],[],[]]},{"id":"33b5d5e2.f8ee8a","type":"switch","z":"7a35d872.17d8d8","name":"","property":"switch","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":360,"wires":[["7b7de667.db60b8"],["4c0e8c50.b7ba84"]]},{"id":"4c0e8c50.b7ba84","type":"debug","z":"7a35d872.17d8d8","name":"Stuff to do (if any) when switch is OFF (sprinkler blocked)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":380,"wires":[]},{"id":"7b7de667.db60b8","type":"debug","z":"7a35d872.17d8d8","name":"Stuff to do when switch is ON (sprinkler allowed)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","statusVal":"","statusType":"auto","x":560,"y":340,"wires":[]},{"id":"62f6b88f.cd3448","type":"ui_switch","z":"7a35d872.17d8d8","name":"","label":"switch","group":"55bce2e9.0701dc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":250,"wires":[["88fb2f5b.3c"]]},{"id":"88fb2f5b.3c","type":"switch","z":"7a35d872.17d8d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":240,"wires":[["4f2d1972.379178"],["1d68fc17.6dcda4"]]},{"id":"1d68fc17.6dcda4","type":"change","z":"7a35d872.17d8d8","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":280,"wires":[[]]},{"id":"e20d234c.0d994","type":"inject","z":"7a35d872.17d8d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":130,"y":400,"wires":[["33b5d5e2.f8ee8a"]]},{"id":"495c0404.13ac1c","type":"inject","z":"7a35d872.17d8d8","name":"Initial (sprinkler is allowed)","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"true","payloadType":"bool","x":190,"y":170,"wires":[["62f6b88f.cd3448"]]},{"id":"a9a07215.120c","type":"function","z":"7a35d872.17d8d8","name":"","func":"if (msg.payload ==true)msg.payload = \"Auto On\";\nif (msg.payload ==false)msg.payload = \"Auto Off\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[["7c2d329a.48e73c"]]},{"id":"46272d11.0c1764","type":"inject","z":"7a35d872.17d8d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":800,"wires":[["7c2fb603.bd9348"]]},{"id":"3b944448.a4189c","type":"inject","z":"7a35d872.17d8d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":860,"wires":[["7c2fb603.bd9348"]]},{"id":"7c2fb603.bd9348","type":"change","z":"7a35d872.17d8d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":830,"wires":[["dc0fb137.8cb1b"]]},{"id":"dc0fb137.8cb1b","type":"debug","z":"7a35d872.17d8d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":830,"wires":[]}]